@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

:root {
  --color-dark: #264653;
  --color-teal: #2a9d8f;
  --color-coral: #e76f51;
  --color-yellow: #e9c46a;
  --color-orange: #f4a261;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: var(--color-teal);
  width: 80%; 
  margin: auto;
}

h1 {
  color: var(--color-yellow);
  text-justify: center;
  text-align: center;
  font-size: 24px;
  /* margin-top: 30px; */
  width: 100%;
  margin: auto;
}

header {
  background-color: var(--color-dark);
  height: 100px;
  margin-bottom: 10px;
}

#family {
  height: 100px;
  width: 150px;
}

#chinook {
  height: 100px;
  width: 150px;
}

#cutter {
  height: 100px;
  width: 150px;
}

#fish {
  height: 100px;
  width: 150px;
}

#frosted-cookie {
  height: 100px;
  width: 150px;
}

#shirt {
  height: 100px;
  width: 150px;
} 

nav {
  width: 100%;
  margin: auto;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  color:var(--color-coral);
}

nav img {
  float: left;
  margin-top: 15px;
  margin-right: 10px;
  height: 20px;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-top: 10px;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: var(--color-yellow);
  display: block;
  font-size: 12px;
}

/* main {
  height: 250px;
  width: 100%;
  margin: auto;
} */

main ul {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: var(--color-coral);
}


section {
  background-color: var(--color-coral);
  width: 100%;
  margin: auto;
}

section article {
	margin: auto;
}

h2 {
  font-size: 12px;
  margin-bottom: 10px;
  color: var(--color-dark);
  background-color: var(--color-coral);
  width: 100%;
}

.foot-p {
  height: 10px;
  font-size: 10px;
}

button {
  margin-top: 15px;
  background-color: black;
  color: white;
  transition: 350ms;
}

button:hover {
  background-color: var(--color-orange);
}

footer {
	height: 50px;
	background-color: var(--color-dark);
  color:var(--color-yellow);
}

footer ul {
  justify-content: space-evenly;
}

footer ul li {
  float: left;
  height: 5px;
  width: 50px;
}

/* footer p {
  height: 75px;
  width: 150px;
  justify-content: space-around;
  display: flex;
} */
address {
  font-size: 16px;
}
table {
  height: 150px;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

#cookieData {
  margin: auto;
}

table, td, th {
  border: 1px solid black;
  font-size: 8px;
}

#table {
  margin-top: 20px;
  margin-bottom: 20px;
}

article p {
  font-size: 8px;
}
